
body{
    margin-top: 100px;
}

.p-about{
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

a{
    color: white;
    text-decoration: none;
    font-style: italic;
}

