<br><br><br><br><br>
<mat-card class="login-card">
  <h2>Login</h2>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email" required />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" formControlName="password" type="password" required />
      </mat-form-field>
      <input type="submit" [disabled]="loginForm.invalid" value="Login" class="login-button">

      <p>Nemate nalog? <a href="/register">Registruj se</a></p>
    </form>
  </mat-card-content>
</mat-card>
