<header>
    <nav>
      <a href="/">home</a>
      <a href="/about">about</a>
      <a href="/cart">cart</a>

  
      <ng-container *ngIf="authService.isLoggedIn(); else loginLink">
        <span class="user-span">Logovan kao, <a href="/user">{{ authService.getLoggedInUser()?.email }}</a></span>
        <a (click)="logout()">Logout</a>
      </ng-container>
  
      <ng-template #loginLink>
        <a href="/login">login</a>
      </ng-template>
    </nav>
  </header>
  
  <router-outlet></router-outlet>
  