.register-card {
    background-color: #2a3b2f; 
    color: white;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
}

mat-form-field {
    width: 100%;
    margin-bottom: 15px;
}

.register-button {
    margin-left: 10px;
    color: white;
    padding: 1em 1.7em;
    background-color:  #2a3b2f;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 13px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
    float: right;
}

.register-button:hover {
    color: #23332a;
    background-color: white;
}